body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: black;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background: black;
    color: #ffffff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a:hover{
    cursor: pointer;
    color: yellow;
}

nav ul li a {
    padding: 20px 0;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    list-style: none;
    gap: 2rem;
    transition: color 0.3s ease;
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
}

#about{
    border: solid;
    border-color: #35424a;
}
#projects{
    border: solid;
    border-color: #35424a;
}
#skills{
    border: solid;
    border-color: #35424a;
}
#contact{
    border: solid;
    border-color: #35424a;
}
#languages{
    border: solid;
    border-color: #35424a;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: black;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}